@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.other-homepage * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.other-homepage-body {
  font-family: "Montserrat", sans-serif;
}

.other-homepage-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.other-homepage-header {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  background-blend-mode: overlay;
}

.other-homepage-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.other-homepage-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.other-homepage-header-info h1 {
  font-size: 45px;
  text-transform: uppercase;
  padding: 20px 0;
  letter-spacing: 4px;
}

.other-homepage-header-info p {
  line-height: 30px;
  font-size: 15px;
  width: 80%;
  margin: auto;
}

.other-homepage-read-more-link {
  background-color: #fff;
  color: #00a8b4;
  padding: 17px 45px;
  display: inline-block;
  margin-top: 25px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.other-homepage-read-more-link:hover {
  background-color: #00a8b4;
  color: #fff;
}

#other-homepage-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#other-homepage-welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  margin-top: -200px;
}

.other-homepage-container-inner h2 {
  color: #343a40;
  font-size: 45px;
  padding-bottom: 12px;
}

.other-homepage-container-inner p {
  color: #777;
  font-size: 16px;
}

.other-homepage-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.other-homepage-slide {
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-homepage-slide:hover {
  min-width: 250px;
}

.other-homepage-slide-info {
  transform: rotate(-90deg);
  transition: all 0.5s ease;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  animation: other-textAnimation 4s ease-in-out 1 forwards;
}

@keyframes other-textAnimation {
  0% {
    stroke-dashoffset: 500;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 767px) {
  .other-homepage-header-info h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .other-homepage-header-info p {
    font-size: 13px;
    line-height: 25px;
  }

  .other-homepage-slide {
    height: 200px;
  }

  .other-homepage-slide-info {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .other-homepage-header-info h1 {
    font-size: 35px;
  }

  .other-homepage-header-info p {
    font-size: 14px;
  }

  .other-homepage-slide {
    height: 250px;
  }

  .other-homepage-slide-info {
    font-size: 12px;
  }
}

@media screen and (min-width: 1025px) {
  .other-homepage-header-info h1 {
    font-size: 50px;
  }

  .other-homepage-header-info p {
    font-size: 16px;
    line-height: 32px;
  }
}
